@media only screen and (max-width: 1250px) {

    .feature-box-item:hover,
    .fun-facts-box-item:hover,
    .professional-box-item:hover,
    .service-box-item:hover {
        left: 0;
    }

}

@media only screen and (max-width: 1199px) {
    .doccument-heading {
        padding-top: 30rem;
    }

    .navbar-btn {
        padding: 12px 14px 11px 14px;
        font-size: 14px;
    }

    .navbar-nav {
        gap: 22px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }

    .banner-left-con::after,
    .quality-system-right-con::before,
    .form-left-con::before,
    .mobile-app-left-con::before {
        display: none;
    }

    .feature-box-item h5 {
        font-size: 18px;
    }

    .feature-box-item {
        padding: 52px 42px;
    }

    .quality-system-list ul {
        width: 50%;
    }

    .fun-facts-box-item {
        padding: 30px 18px;
    }

    .offer-left-con img {
        top: 50px;
    }

    .generic-banner-content {
        padding: 70px 0;
    }

    .blog-con {
        padding-bottom: 70px;
    }

    .generic-banner-content h1 {
        margin-bottom: 30px;
    }

    .Schedule-con,
    .contact-page-form-con,
    .professional-con,
    .service-box-con,
    .faq-con {
        padding: 80px 0;
    }
    .core-vaule-con {
        padding: 50px 40px 0px 40px;
    }
    .map-con {
        margin-bottom: 80px;
    }

    .Schedule-heading h2,
    .contact-page-form-txt h2 {
        margin-bottom: 50px;
    }

    .about-fun-facts-con {
        padding: 80px 25px 70px 25px;
    }

    .service-box-item {
        padding: 50px 28px;
    }

    .experiences-con p br {
        display: none;
    }

    .experiences-con ul li {
        margin-bottom: 12px;
    }

    .team-professional-con {
        padding-bottom: 80px;
    }

    .team-detail-con {
        padding: 80px 0;
    }

    .blog-item-content {
        padding: 22px 15px;
    }

    .blog-posts {
        padding-top: 70px;
    }

    .blockquote {
        margin-left: 30px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .form-left-con .left-curve-img {
        top: 30%;
        right: 15px;
        transform: rotateZ(179deg);
        left: auto !important;
    }

    .banner-right-content {
        padding-bottom: 170px;
    }
    .services-2nd-yellow{
        right: 40px !important;
    }
    .home-col-one,
    .home-col-two {
        padding: 0;
    }

    .home-banner-three {
        max-width: 100%;
    }

    .form-main-con .down-icon {
        top: 18px;
        right: 35px;
    }

    .form-main-con i {
        top: 50px;
        right: 35px;
    }

    .slider-inner-con {
        padding: 65px 65px 150px 65px;
    }

    .worker-section {
        padding-top: 30rem;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        padding: 12px 30px 12px 19px;
    }

    .appointment-button {
        margin-bottom: 15px;
    }

    .quality-system-heading {
        font-size: 38px;
    }

    .core-vaule-title h2 {
        margin-bottom: 10px;
    }

    .core-values {
        font-size: 30px;
        font-weight: 700;
    }

    .core-vaule-title p {
        margin-bottom: 25px;
    }

    .core-vaule-box-title h5 {
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 45px;
        line-height: 50px;
    }

    .doccument-heading {
        padding-top: 22rem;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }

    .navbar {
        padding: 20px 0 !important;
    }

    .banner-right-content h1 {
        margin-bottom: 20px;
    }

    .banner-right-content p {
        margin-bottom: 20px;
        line-height: 24px;
    }

    .banner-right-content {
        margin-bottom: 20px;
    }

    .navbar-nav li:first-child {
        padding-left: 18px;
    }

    .nav-link,
    .dropdown-menu .dropdown-item {
        font-size: 16px;
    }

    .banner-right-content h5 {
        font-size: 16px;
        margin-bottom: 12px;
        line-height: 16px;
    }

    .navbar-collapse {
        background: var(--secondary--color);
        padding: 8px 0;
        min-width: 35%;
        float: right;
        position: absolute;
        right: 0;
        top: 70px;
        z-index: 2;
    }

    .navbar-btn {
        display: none;
    }

    .nav-item {
        padding: 10px 30px;
    }

    .navbar-nav li:first-child {
        padding: 10px 30px;
    }

    .navbar-toggler.collapsed span:nth-child(3) {
        transform: rotate(0deg);
    }

    .navbar-toggler.collapsed span:nth-child(2) {
        opacity: 1;
    }

    .navbar-toggler.collapsed span:nth-child(1) {
        transform: rotate(0deg);
    }

    .navbar-toggler span:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 0% 186%;
    }

    .navbar-toggler span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler span.navbar-toggler-icon {
        transition: all 0.15s;
    }

    .navbar-toggler span:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 26% 19%;
    }

    .navbar-toggler-icon {
        border-bottom: 2px solid var(--primary--color);
        display: block;
        height: 10px;
        background-image: none !important;
    }

    .navbar-toggler {
        border: none;
        background: none;
        margin-top: -8px;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .appointment-btn {
        padding: 14px 24px;
        font-size: 16px;
    }

    .banner-con {
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .feature-box-item h5 {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    .feature-box-item p {
        font-size: 13px;
        line-height: 20px;
    }

    .feature-box-item figure {
        margin-bottom: 10px;
    }

    .feature-box-item {
        padding: 30px 10px;
    }

    .feature-box-item:hover,
    .fun-facts-box-item:hover,
    .professional-box-item:hover,
    .service-box-item:hover {
        transform: scale(1);
        left: 0;
        bottom: 0;
        box-shadow: none;
    }

    .feature-box-con {
        margin-bottom: 60px;
    }

    .quality-system-left-con h2,
    .slider-left-con h2,
    .mobile-app-right-con h2,
    .core-vaule-title h2 {
        margin-bottom: 22px;
    }

    .quality-system-left-con p {
        margin-bottom: 15px;
        line-height: 24px;
    }

    .quality-system-left-con p:nth-child(3) {
        margin-bottom: 15px;
    }

    .quality-system-list ul li {
        font-size: 14px;
    }

    .quality-system-list ul li i {
        left: -15px;
        top: 8px;
    }

    .offer-right-con h2 a::after {
        width: 100%;
    }

    .fun-facts-con {
        padding: 80px 0;
    }

    .fun-facts-box-con,
    .blog-posts {
        padding-top: 50px;
    }

    .fun-facts-item-title span {
        right: -24px;
    }

    .form-main-con p,
    .about-fun-facts-title h2,
    .professional-title p {
        margin-bottom: 45px;
    }

    .form-main-con h2,
    .professional-title h2 {
        margin-bottom: 22px;
    }

    .weight-footer-inner-con {
        padding-bottom: 30px;
    }

    .footer-con p {
        font-size: 14px;
    }

    .footer-con,
    .weight-footer-content p,
    .weight-footer-content figure,
    .weight-footer-content {
        margin-bottom: 20px;
    }

    .weight-footer-content h5 {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .weight-footer-content ul li i {
        padding-right: 2px;
    }

    .weight-footer-content ul li {
        font-size: 13px;
    }

    .slider-left-con {
        padding-top: 0;
    }

    .slider-left-con h2 br {
        display: none;
    }

    .slider-inner-con {
        padding: 50px 70px 100px 70px;
        margin-bottom: 80px;
    }

    .auther-title h4 {
        line-height: 18px;
    }

    .auther-con {
        margin-bottom: 0;
    }

    .auther-title {
        margin-left: 5px;
    }

    .news-letter-inner-con {
        padding: 60px 30px;
        margin-bottom: 40px;
    }

    .mobile-app-right-con p {
        margin-bottom: 10px;
    }

    .mobile-app-right-con p:nth-child(3) {
        margin-bottom: 10px;
    }

    .mobile-app-btn a,
    .mobile-app-btn a:last-child {
        padding: 14px 18px;
        font-size: 16px;
    }

    .banner-right-content {
        padding-top: 0;
    }

    .banner-left-con {
        display: inline-block;
    }

    .feature-box-item img {
        width: 40px;
        height: 40px;
    }

    .quality-system-right-con .left-curve-img {
        left: -195px;
    }

    .offer-inner-con {
        height: auto;
        padding: 30px 10px;
    }

    .offer-left-con img {
        left: 16px;
        top: 75px;
    }

    .form-left-con .left-curve-img {
        right: 235px;
    }

    .form-left-con .right-curve-img {
        left: 160px;
    }

    .contact-form button {
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .slider-inner-con .carousel-control-prev {
        width: 40px;
        height: 40px;
        left: 40% !important;
    }

    .slider-inner-con .carousel-control-next {
        width: 40px;
        height: 40px;
        left: 47% !important;
    }

    .logo-con {
        margin-bottom: 30px;
    }

    .weight-footer-con {
        margin-bottom: 20px;
    }

    .auther-title p {
        text-align: left;
    }

    .carousel-control-next i {
        position: relative;
        left: 16px;
    }

    .offer-note h4 {
        font-size: 26px;
    }

    .offer-note h4 span {
        font-size: 20px;
    }

    .generic-banner-content {
        padding: 30px 0 50px 0;
    }

    .generic-banner-content h1 {
        margin-bottom: 20px;
    }

    .Schedule-heading h2,
    .contact-page-form-txt h2 {
        margin-bottom: 40px;
    }

    .Schedule-box-item {
        padding: 30px;
    }

    .Schedule-con,
    .contact-page-form-con,
    .professional-con,
    .service-box-con {
        padding: 50px 3%;
    }

    .faq-con {
        padding: 50px 0;
    }

    .blog-con {
        padding-bottom: 50px;
    }

    .core-vaule-con {
        padding-top: 50px;
    }

    .Schedule-box-title {
        padding-left: 12px;
    }

    .contact-form-plan-box input,
    .contact-form-plan-box textarea,
    .contact-form-plan-box select {
        padding: 20px 16px;
        margin-bottom: 20px;
    }

    .map-con {
        margin-bottom: 40px;
    }

    .right-curve-img img {
        width: 95px;
    }

    .left-curve-img img {
        width: 40px;
    }

    .Experince-section .quality-system-right-con .left-curve-img {
        left: -270px;
    }

    .about-fun-facts-con {
        padding: 60px 25px;
    }

    .core-vaule-title p {
        margin-bottom: 25px;
        padding-right: 0;
    }

    .core-vaule-box-title h5 {
        margin-bottom: 12px;
    }

    .core-vaule-box-title span br {
        display: none;
    }

    .core-vaule-box-item {
        margin-bottom: 20px;
    }

    .core-vaule-right-con {
        padding-bottom: 50px;
    }

    .professional-box-item {
        padding: 30px 22px;
    }

    .professional-box-item small {
        margin-bottom: 10px;
    }

    .professional-box-item img {
        margin-bottom: 18px;
    }

    .professional-box-item span {
        margin-bottom: 14px;
        font-size: 14px;
    }

    .service-box-item {
        padding: 30px 5px;
    }

    .service-box-item h5 {
        margin-bottom: 10px;
    }

    .service-box-img {
        padding: 40px 0;
    }

    .faq-con button {
        font-size: 18px;
    }

    .faq-con .card {
        margin-bottom: 20px;
    }

    .faq-con .card-header button {
        padding: 22px 26px;
    }

    .faq-system-con .left-curve-img {
        right: 52px;
    }

    .faq-system-con .right-curve-img {
        right: -100px !important;
    }

    .faq-system-con ul li i {
        left: -10px !important;
        top: 6px;
    }

    .quality-system-list ul li {
        margin-left: 12px;
    }

    .quality-system-left-con {
        padding-bottom: 50px;
    }

    .banner-left-img {
        height: 450px;
    }

    .feature-box-con {
        margin-top: -178px;
    }

    .form-left-img {
        height: 500px;
    }

    .fun-facts-box-con .row>div:nth-child(2),
    .service-box-inner-con .row>div:nth-child(2) {
        border-right: 1px solid #d6d6d6 !important;
    }

    .about-fun-facts-con .fun-facts-box-con .row>div:nth-child(2) {
        border-color: var(--secondary--color) !important;
    }

    .team-professional-con {
        padding-bottom: 50px;
    }

    .team-detail-con {
        padding: 50px 0;
    }

    .team-professional-inner-con {
        padding: 30px 15px;
    }

    .team-detail-con img {
        margin-bottom: 15px;
    }

    .team-professional-lft .skills:nth-child(5) {
        margin-bottom: 24px;
    }

    .blog-item-content h4 {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .blog-item-content {
        font-size: 14px;
    }

    .blog-item-content {
        padding: 18px 10px;
    }

    .blog-item-auther-name span:last-child {
        margin-left: 2px;
    }
}

@media only screen and (max-width: 768px) {
    .quality-system-heading {
        font-size: 28px;
    }

    .doccument-btn {
        padding: 12px 20px;
    }
    .services-2nd-yellow {
        right: 180px !important;
    }
    .navbar-nav {
        gap: 0;
        align-items: normal;
    }

    .home-banner-button-container {
        padding: 10px 68px;
    }

    .banner-right-content {
        padding-bottom: 20px;
    }

    .left-curve-img {
        top: 20%;
        left: 5px;
    }

    .right-curve-img {
        top: 74%;
        right: 30px;
    }

    .home-col-one {
        padding: 0;
    }

    .home-col-two {
        padding: 0px 20px;
    }

    .home-banner-last-container {
        padding-bottom: 15px;
        padding-top: 0;
    }

    .worker-section {
        padding-top: 22rem;
    }

    .professional-box-item h5 {
        font-size: 17px;
    }

    .service-banner-two {
        max-width: 75%;
    }

    .form-left-con .right-curve-img {
        top: 91%;
    }

    .about-sec-banner {
        object-fit: contain;
        max-width: 105%;
    }
    .about-1st-red{
        top: 255px !important;
    }

    .core-vaule-title h2 {
        text-align: center;
        margin-top: 20px;
    }

    .core-vaule-title p,
    .core-vaule-box-item,
    .core-vaule-box-title span {
        text-align: center !important;
        padding: 0px 20px;
    }

    .about-banner-three {
        max-width: 60%;
    }

    .quality-system-right-con .right-curve-img {
        top: 310px;
    }

    .navbar-collapse {
        min-width: 60%;
    }

    .banner-section-services {
        padding: 20px 20px;
    }

    .banner-section-heading-inner {
        width: 90%;
    }

    .doccument-heading {
        padding-top: 22rem;
    }

    .form-heading {
        padding-top: 24rem !important;
    }

    .form-text {
        font-size: 18px !important;
        width: 70% !important;
    }

    .navbar {
        padding: 20px 0 20px 0 !important;
    }

    h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .quality-system-left-con {
        padding-bottom: 0;
    }

    .faq-system-con ul li i {
        left: 27px !important;
    }

    .banner-right-content h1 {
        margin-bottom: 15px;
    }

    .banner-right-content p {
        margin-bottom: 16px;
        line-height: 22px;
        padding: 0 45px !important;
    }

    .banner-right-content h5 {
        font-size: 16px;
        margin-bottom: 9px;
        line-height: 12px;
    }

    .appointment-btn {
        padding: 12px 24px;
        font-size: 16px;
    }

    .feature-box-con .row>div {
        border: 1px solid #eaeaea !important;
    }

    .feature-box-item {
        padding: 15px 30px;
        transition: none;
    }

    .feature-box-item h5 {
        font-size: 16px;
        margin-bottom: 8px;
        line-height: 16px;
    }

    .feature-box-item:hover {
        transition: none;
    }

    .feature-box-con {
        margin-bottom: 50px;
    }

    .quality-system-left-con h2,
    .slider-left-con h2,
    .mobile-app-right-con h2 {
        margin-bottom: 16px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    .quality-system-right-con::before {
        display: none;
    }

    .quality-system-list ul li i {
        left: 0px;
        top: 6px;
    }

    .offer-inner-con {
        height: auto;
        text-align: center;
        padding: 60px 15px 0 15px;
    }

    .home-banner-heading {
        font-size: 40px;
        letter-spacing: 0px;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .offer-p {
        padding-right: 0;
        padding-left: 0;
    }

    .home-banner-inner-text {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        text-align: start;
        padding: 0px 50px;
    }

    .home-banner-btn {
        margin-left: 50px;
    }

    .offer-left-con img {
        position: relative;
        left: 0;
        top: 0;
    }

    .offer-right-con {
        margin-top: 0;
    }

    .offer-note {
        right: 40%;
    }

    .shope-btn {
        padding: 10px 30px;
        font-size: 14px;
    }

    .offer-note h4 span {
        font-size: 18px;
        display: block;
    }

    .offer-note h4 {
        font-size: 22px;
    }

    .fun-facts-con {
        padding: 50px 0;
    }

    .fun-facts-box-con {
        padding-top: 30px;
    }

    .fun-facts-item-title span {
        right: -18px;
        top: 5px;
    }

    .fun-facts-item-title span {
        font-size: 18px;
    }

    .form-main-con p,
    .about-fun-facts-title h2,
    .professional-title p {
        margin-bottom: 35px;
    }

    .form-main-con h2,
    .professional-title h2 {
        margin-bottom: 16px;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        margin-bottom: 15px;
    }

    .logo-inner-con img,
    .mobile-app-right-con {
        margin-bottom: 15px;
    }

    .slider-inner-con {
        margin-bottom: 50px;
    }

    .weight-footer-content p {
        font-size: 14px;
    }

    .news-letter-title {
        margin-top: 0;
        padding-bottom: 15px;
        text-align: center;
    }

    .mobile-app-btn a,
    .mobile-app-btn a:last-child {
        padding: 12px 18px;
    }

    .quality-system-con {
        text-align: center;
    }

    .offer-right-con h2 {
        margin-bottom: 16px;
    }

    .form-left-con .left-curve-img {
        right: 145px;
    }

    .carousel-control-prev {
        width: 40px;
        height: 40px;
        left: 37%;
    }

    .top-bar-left-con {
        display: none;
    }

    .carousel-control-next i {
        position: relative;
        left: 12px;
    }

    .Schedule-con,
    .contact-page-form-con,
    .professional-con,
    .service-box-con {
        padding: 40px 3%;
    }

    .faq-con {
        padding: 40px 0;
    }

    .blog-con {
        padding-bottom: 40px;
    }

    .Schedule-box-item {
        margin-bottom: 15px;
    }

    .Schedule-box-title h5 {
        margin-bottom: 5px;
    }

    .Schedule-box-item img {
        margin-bottom: 20px;
    }

    .banner-left-img {
        height: 430px;
    }

    .quality-system-right-con .right-curve-img,
    .Experince-section .right-curve-img {
        right: 100px;
    }

    .about-fun-facts-con {
        padding: 50px 25px;
    }

    .core-vaule-con {
        padding-top: 40px;
    }

    .quality-system-left-con h2,
    .slider-left-con h2,
    .mobile-app-right-con h2,
    .core-vaule-title h2 {
        margin-bottom: 18px;
    }

    .core-vaule-box-item figure {
        position: relative;
    }

    .core-vaule-box-title {
        padding-left: 0;
    }

    .core-vaule-right-con {
        padding-bottom: 10px;
    }

    .core-vaule-con .form-left-con .left-curve-img {
        right: 130px;
    }

    .about-fun-facts-con .fun-facts-box-item {
        padding: 33px 18px;
    }

    .professional-title p br,
    .form-main-con p br,
    .generic-banner-content p br {
        display: none;
    }

    .professional-box-item img {
        width: 150px;
        height: 150px;
    }

    .professional-box-item {
        margin-bottom: 15px;
    }

    .service-box-img {
        padding: 30px 0;
    }

    .professional-box .row:first-child {
        margin-bottom: 0;
    }

    .faq-con .card {
        margin-bottom: 15px;
    }

    .faq-con .card-header button {
        padding: 22px 26px;
    }

    .faq-system-con .left-curve-img {
        right: 115px;
    }

    .feature-box-con {
        margin-top: -150px;
    }

    .team-detail-con {
        padding: 40px 0;
    }

    .team-professional-con {
        padding-bottom: 40px;
    }

    .team-contanct {
        margin-bottom: 12px;
    }

    .blog-item-content {
        padding: 18px 10px;
    }

    .blog-item-auther-name span:last-child {
        margin-left: 2px;
    }

    .blog-con p {
        margin-bottom: 45px;
    }

    .slider-inner-con .carousel-control-next {
        left: 50% !important;
    }

    .blog-item {
        text-align: center;
        margin-bottom: 15px;
    }
    .home-banner-three {
        max-width: 50%;
        margin-top: 20px;
    }
    .blog-con p {
        margin-bottom: 35px;
    }
    .home-yellow {
        right: 200px !important;
    }
    .blog-posts {
        padding-top: 40px;
    }

}

@media only screen and (max-width: 575px) {
    .feature-box-con,
    .fun-facts-box-con {
        padding-left: 6%;
        padding-right: 6%;
    }
    .home-banner-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        margin-left: 15px;
    }
    .navbar-collapse {
        min-width: 100%;
    }
    .navbar-collapse {
        top: 60px;
    }
    .navbar {
        padding: 10px 0 !important;
    }

    h1 {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .banner-right-content h1 {
        margin-bottom: 12px;
    }

    .banner-right-content p {
        margin-bottom: 12px;
        line-height: 20px;
        padding: 0 10px !important;
    }

    .banner-left-con::after {
        background: none;
    }

    .appointment-btn,
    .mobile-app-btn a,
    .mobile-app-btn a:last-child {
        padding: 10px 20px;
        font-size: 14px;
    }

    .quality-system-left-con p {
        margin-bottom: 10px;
        line-height: 24px;
    }

    .quality-system-list ul li {
        font-size: 12px;
    }

    .quality-system-list ul {
        width: 50%;
        margin-bottom: 20px;
    }

    .feature-box-con,
    .slider-inner-con {
        margin-bottom: 40px;
    }

    .quality-system-list ul li i {
        left: 20px;
        top: 6px;
    }

    .form-main-con p,
    .about-fun-facts-title h2,
    .professional-title p {
        margin-bottom: 25px;
    }

    .fun-facts-con {
        padding: 40px 0;
    }

    .logo-inner-con {
        padding-bottom: 40px;
    }

    .logo-con {
        margin-bottom: 20px;
    }

    .weight-footer-inner-con {
        padding-bottom: 10px;
    }

    h4 {
        font-size: 18px;
    }

    .slider-inner-con {
        padding: 30px 20px 90px 20px;
    }

    .slider-left-con {
        padding-bottom: 15px;
    }

    .news-letter-title h2 {
        line-height: 25px;
    }

    .news-letter-inner-con {
        padding: 45px 20px;
        margin-bottom: 40px;
    }

    .banner-con {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .left-curve-img img {
        width: 40px;
    }

    .right-curve-img img {
        width: 80px;

    }

    .right-curve-img {
        top: 65%;
    }

    .feature-box-item {
        padding: 25px 54px;
    }

    .feature-box-item p {
        font-size: 14px;
    }

    .offer-note h4 {
        font-size: 18px;
        padding-top: 42px;
    }

    .offer-note h4 span {
        font-size: 14px;
    }

    .offer-right-con h2 {
        margin-bottom: 12px;
    }

    .offer-note {
        background-size: 80% auto;
    }

    .offer-inner-con {
        padding-top: 108px;
    }

    .fun-facts-box-item {
        padding: 24px 7px;
    }

    .fun-facts-item-content {
        padding-left: 0;
    }

    .fun-facts-item-content h2 {
        line-height: 24px;
        margin-top: 8px;
    }

    .form-left-con .left-curve-img {
        right: 50px;
    }

    .form-left-con .right-curve-img {
        left: 8px;
    }

    .carousel-control-prev {
        width: 40px;
        height: 40px;
        left: 33%;
    }

    .mobile-app-right-con h2 {
        padding: 0 18px;
    }

    p {
        font-size: 15px;
    }

    .news-letter-input-feild input {
        padding: 20px;
    }

    .news-letter-input-con button {
        padding: 14px 20px;
    }

    .weight-footer-inner-con .row .col-lg-2:nth-child(2),
    .weight-footer-inner-con .row .col-lg-2:nth-child(3),
    .weight-footer-inner-con .row .col-lg-3:nth-child(4) {
        display: none;
    }

    .carousel-control-next i {
        position: relative;
        left: 10px;
    }

    .navbar-toggler {
        margin-top: 0;
    }

    .navbar-brand img,
    .weight-footer-content img {
        width: 125px;
    }

    .navbar {
        display: flex;
        align-items: center;
    }

    .generic-banner-content h1 {
        margin-bottom: 12px;
    }

    .Schedule-heading h2,
    .contact-page-form-txt h2 {
        margin-bottom: 30px;
    }

    .contact-form-plan-box input,
    .contact-form-plan-box textarea,
    .contact-form-plan-box select {
        padding: 15px;
        margin-bottom: 15px;
    }

    .map-con {
        margin-bottom: 30px;
    }

    .human-img {
        object-fit: contain;
        height: 278px;
    }

    .Experince-section {
        padding-top: 30px;
    }

    .quality-system-right-con {
        margin-top: 30px;
    }

    .quality-system-right-con .right-curve-img,
    .Experince-section .right-curve-img {
        right: 36px;
    }

    .quality-system-right-con .left-curve-img {
        left: -140px;
    }

    .Experince-section .quality-system-right-con .left-curve-img {
        left: -280px;
    }

    .about-fun-facts-con .fun-facts-box-item {
        padding: 20px 7px;
    }

    .about-fun-facts-con {
        padding: 40px 15px;
    }

    .core-vaule-con {
        padding-top: 30px;
    }

    .core-vaule-con .form-left-con .left-curve-img {
        right: 55px;
    }

    .core-vaule-box-title h5 {
        margin-bottom: 8px;
    }

    .Schedule-con,
    .contact-page-form-con,
    .professional-con,
    .service-box-con {
        padding: 30px 5%;
    }

    .faq-con {
        padding: 30px 0;
    }

    .blog-con {
        padding-bottom: 30px;
    }

    .form-main-con h2,
    .professional-title h2 {
        margin-bottom: 12px;
    }

    .service-box-img {
        padding: 20px 0;
    }

    .faq-con button {
        font-size: 14px;
        white-space: inherit;
    }

    .faq-con .card-body {
        font-size: 14px;
    }

    .blog-con p {
        margin-bottom: 25px;
    }

    .faq-con .card-header button,
    .faq-con .card-body {
        padding: 15px 7px;
    }

    .faq-system-con ul li i {
        left: 2px !important;
    }

    .faq-system-con .left-curve-img {
        right: 46px;
    }

    .faq-system-con .right-curve-img {
        right: -72px !important;
    }

    .quality-system-list ul li {
        margin-left: 0;
    }

    .banner-left-img {
        height: 400px;
        object-fit: contain;
    }

    .contact-page-form-txt h2 br {
        display: none;
    }

    .contact-form-plan-box .down-icon {
        top: 20px;
    }

    .service-box-inner-con .row>div {
        border-right: 1px solid #d6d6d6 !important;
    }

    .experiences-con ul li {
        font-size: 14px;
    }

    .slider-inner-con .carousel-control-next {
        left: 52% !important;
    }

    .blog-posts {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

@media only screen and (max-width: 425px) {
    .form-heading {
        padding-top: 22rem !important;
    }
    .services-2nd-yellow {
        right: 80px !important;
    }
    .home-yellow {
        right: 80px !important;
    }
    .home-banner-three {
        max-width: 75%;
        margin-top: 20px;
    }
    .about-1st-red {
        top: 240px !important;
    }
    .core-vaule-title p, .core-vaule-box-item, .core-vaule-box-title span {
        text-align: center !important;
        padding: 0px;
    }
    .about-sec-banner {
        max-width: 90%;
    }
    .about-banner-three {
        max-width: 90%;
        height: auto;
    }
    .about-yellow {
        right: 30px !important;
    }
    .about-red2{
        top: 300px !important;
    }
    .form-left-img {
        margin-top: 20px;
    }

    .about-first-p{
        padding: 10px 30px;
    }
    .vaule-box-title span{
        padding: 0;
    }
    .about-yellow{
        right: 70px;
    }
    .about-appointment-btn{
        padding: 12px 30px;
    }
    .service-banner-two{
        height: auto;
    }
    .button-col {
        margin: 0px 45px;
    }

    .logo-inner-con {
        padding: 0;
    }

    .navbar-nav {
        gap: 0;
        align-items: normal;
    }

    .offer-inner-con {
        padding-top: 50px;
    }

    .home-col-one {
        margin-bottom: 30px;
    }

    .home-banner-inner-text {
        text-align: center;
        padding: 0px 50px;
    }

    .home-banner-btn {
        display: inline-flex;
        margin: 0;
    }

    .form-section-p {
        padding: 0;
    }

    .worker-section {
        padding: 22rem 20px 20px 20px;
    }

    .left-curve-img {
        left: -310px;
    }

    .four-o-four-heading {
        padding: 5rem 0;
    }

    .inner-heading-error h1 {
        font-size: 100px;
        line-height: 80px;
    }

    .inner-heading-error span {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 45px;
    }

    .error-btn {
        font-size: 20px;
        width: 200px;
        height: 50px;
        padding: 0;
    }

    .banner-section-services {
        padding: 20px 16px;
    }

    .banner-section-heading-inner {
        width: 100%;
    }

    .form-left-con .right-curve-img {
        left: 65px;
        top: 240px;
    }

    .doccument-heading {
        padding-top: 21rem;
    }

    .form-text {
        font-size: 16px !important;
        width: 75% !important;
    }

    .form-inner-heading img {
        margin-bottom: 12px !important;
    }

    .online-form {
        width: 85% !important;
        margin-bottom: 3rem !important;
        padding: 20px 30px !important;
    }

    .form-inner-content span {
        font-size: 20px !important;
    }

    .form-label {
        font-size: 16px !important;
    }
    /*heeelooooo*/
    .form-inner-button button,
    .form-inner-button button:nth-child(2) {
        width: 150px !important;
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 375px) {
    .form-heading {
        padding-top: 21rem !important;
        margin-bottom: 30px !important;
    }
    .services-2nd-yellow {
        right: 65px !important;
    }
    .home-yellow {
        right: 60px !important;
    }
    .about-sec-banner {
        max-width: 95%;
    }
    .about-sec-banner{
        max-width: 100% !important;
        height: auto !important;
    }
    .hiring-heading {
        padding: 2rem 1rem;
    }
    .button-col {
        margin: 0px 25px;
    }
    .about-banner-three2{
        max-width: 100%;
        height: auto;
    }
    .about-ywlloe2{
        right: 0px !important;
    }
    .about-red2{
        top: 300px !important;
    }
    .button-col {
        margin: 0px;
    }
    .logo-inner-con {
        padding: 0;
        padding-bottom: 30px;
    }

    .navbar-nav {
        gap: 0;
        align-items: normal;
    }

    .service-banner-two {
        max-width: 100%;
    }

    .four-o-four-heading {
        padding: 5rem 0;
    }

    .inner-heading-error h1 {
        font-size: 100px;
        line-height: 80px;
    }

    .inner-heading-error span {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 45px;
    }

    .error-btn {
        font-size: 20px;
        width: 200px;
        height: 50px;
        padding: 0;
    }

    .banner-section-services {
        padding: 20px 16px;
    }

    .banner-section-heading-inner {
        width: 100%;
    }

    .doccument-heading {
        padding-top: 21rem;
    }

    .form-text {
        font-size: 16px !important;
        width: 80% !important;
    }

    .form-button {
        width: 80% !important;
        padding: 12px 0px !important;
    }

    .online-form {
        width: 85% !important;
        padding: 20px 25px !important;
    }

    .form-inner-heading img {
        margin-bottom: 12px !important;
    }

    .form-inner-content span {
        font-size: 18px !important;
        margin-bottom: 20px !important;
    }

    .form-label {
        font-size: 16px !important;
    }

    .form-inner-button button,
    .form-inner-button button:nth-child(2) {
        width: 150px !important;
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 320px) {
    .quality-system-left-con p {
        padding: 0px 15px;
    }
    .services-2nd-yellow {
        right: 40px !important;
    }
    .home-yellow {
        right: 40px !important;
    }
    .about-red2{
        top: 230px !important;
    }
    .Experince-section .quality-system-right-con .left-curve-img {
        left: -240px;
    }
    .about-sec-banner {
        height: 250px;
    }
    .appointment-button {
        padding: 10px 25px;
    }
    .hiring-heading {
        padding: 2rem 1rem;
    }

    .logo-inner-con {
        padding: 0;
        padding-bottom: 30px;
    }

    .navbar-nav {
        gap: 0;
        align-items: normal;
    }

    .offer-inner-con {
        padding-top: 30px;
    }

    .home-banner-inner-text {
        padding: 0px 20px;
    }

    .home-banner-heading {
        font-size: 30px;
    }

    .home-banner-button-container {
        padding: 10px 15px;
    }

    .job-btn {
        font-weight: 600;
        font-size: 20px;
        padding: 10px 20px;
        margin: 10px 20px;
        border-radius: 12px;
    }

    .form-section-p {
        padding-right: 0;
        padding-left: 0;
    }

    .service-banner-two {
        width: 100%;
        height: auto;
    }

    .about-sec-banner {
        height: 300px;
        object-fit: contain;

    }

    .quality-system-right-con .right-curve-img {
        top: 265px;
    }

    .core-vaule-con .form-left-con .left-curve-img {
        right: 30px;
    }

    .quality-system-heading {
        font-size: 24px;
    }

    .quality-system-list ul li i {
        left: 5px;
        top: 6px;
    }

    .form-heading {
        padding-top: 21rem !important;
        font-size: 20px !important;
        margin-bottom: 20px !important;
    }

    .four-o-four-heading {
        padding: 5rem 0;
    }

    .inner-heading-error h1 {
        font-size: 100px;
        line-height: 80px;
    }

    .inner-heading-error span {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 45px;
    }

    .error-btn {
        font-size: 20px;
        width: 200px;
        height: 50px;
        padding: 0;
    }

    .banner-section-services {
        padding: 20px 16px;
    }

    .banner-section-heading-inner {
        width: 100%;
    }

    .doccument-heading {
        padding-top: 21rem;
    }

    .form-text {
        font-size: 16px !important;
        width: 85% !important;
    }

    .form-button {
        width: 85% !important;
        font-size: 18px !important;
        padding: 12px 0px !important;
    }

    .online-form {
        width: 90% !important;
        margin-bottom: 3rem !important;
        padding: 20px 25px !important;
    }

    .form-inner-heading img {
        margin-bottom: 12px !important;
    }

    .form-inner-content span {
        font-size: 14px !important;
        font-weight: 800 !important;
        margin-bottom: 20px !important;
    }

    .form-label {
        font-size: 16px !important;
    }

    .form-inner-button button,
    .form-inner-button button:nth-child(2) {
        width: 150px !important;
        font-size: 14px !important;
    }
}